.universities-list{
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-gap: 10px;
}

 @media screen and (max-width: 968px) {
  .universities-list{
    grid-template-columns: repeat(3, 1fr);
}
 }
 @media screen and (max-width: 568px) {
    .universities-list{
      grid-template-columns: repeat(2, 1fr);
  }
   }