@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #f8f8f8;
}
/*------------global-----------*/
.container {
  max-width: 85%;
  margin: auto;
}
.flexSB {
  display: flex;
  justify-content: space-between;
}
.icon {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
  color: #1eb2a6;
  transition: 0.5s;
}
.icon:hover {
  cursor: pointer;
  background-color: #1eb2a6;
  color: #fff;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.row {
  width: 50%;
}
@media screen and (max-width: 1208px) {
  .row{
  width: 70%;
  }
}
@media screen and (max-width: 968px) {
  .row{
    width: 100%;
  }
  }
.button a {

  padding: 17px 25px;
  font-weight: 600;
  border: none;
  margin: 30px 10px 0 0;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 24px 36px -11px rgb(0 0 0 / 9%);
  transition: 0.5s;
}
@media screen and (max-width: 700px) {
.button a {
  display: block;
  max-width: 230px;
  padding: 17px 30px;
  white-space: initial;
  font-weight: 600;
  border: none;
  margin: 30px 10px 0 0;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 24px 36px -11px rgb(0 0 0 / 9%);
  transition: 0.5s;
}
}
.motto{
  margin-bottom: 20px;
}
.btn1{
  background-color: #fff;
  color: #1eb2a6;
}
.btn2{
  background-color: #1eb2a6 ;
  color: #fff ;
}
.btn1:hover {
  background-color: brown ;
  color: white ;
}
.btn2:hover {
  background-color: brown;
  color: white;
}
button i {
  margin-left: 20px;
}
button:hover {
  box-shadow: none;
}


/*------------global-----------*/
#heading {
  text-align: center;
  padding: 40px 0;
}
#heading h3 {
  font-weight: 600;
  letter-spacing: 1px;
  color: #1eb2a6;
  text-transform: uppercase;
}
#heading h1 {
  font-size: 45px;
  margin: 20px 0;
  text-transform: capitalize;
}
p {
  line-height: 30px;
  font-size: 18px;
}
.logopic{
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 7px;
}
.back {
  background-image: url("../public/images/back.webp");
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  padding-top: 30%;
  padding-right: 50px;
  color: #fff;
  text-align: center;
}
.back-mt{
  background-image:linear-gradient(rgba(0, 51, 7, 0.193), rgba(0, 49, 11, 0.423)),  url("../public/images/new/3a.png") !important;
}
.back-s{
  background-image:linear-gradient(rgba(0, 51, 7, 0.193), rgba(0, 49, 11, 0.423)), url("../public/images/new/bg-4.jpeg") !important;
}
.back-ec{
  background-image: linear-gradient(rgba(0, 51, 7, 0.193), rgba(0, 49, 11, 0.423)), url("../public/images/new/bg-4.png") !important;
}
.back-treatments{
  background-image: linear-gradient(rgba(0, 51, 7, 0.193), rgba(0, 49, 11, 0.423)), url("../public/images/new/bg-2.png") !important;
}
.back-contact{
  background-image: linear-gradient(rgba(0, 51, 7, 0.193), rgba(0, 49, 11, 0.423)), url("../public/images/new/bg-5.png") !important;
}
.back h1 {
  font-size: 100px;
  font-weight: 400;
}
.back h2 {
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
}
.margin {
  margin-top: 40.3%;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}
.flex {
  display: flex;
}
.grid2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
@media screen and (max-width: 1200px) {
  .grid2 {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
@media screen and (max-width: 700px) {
  .grid2 {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
.outline-btn {
  margin: 0;
  box-shadow: none;
  border: 2px solid #1eb2a6;
  width: 100%;
  transition: 0.5s;
}
.outline-btn:hover {
  background-color: #1eb2a6;
  color: #fff;
}
.grid3 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
}
.padding {
  padding: 80px 0;
}
.shadow {
  box-shadow: 0 5px 25px -2px rgb(0 0 0 / 6%);
  background-color: #fff;
}
@media screen and (max-width: 400px) {
  .grid3,
  .grid {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
@media screen and (max-width: 700px) {

  .grid3,
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .back {
    background-position: center;
    padding-top: 50% !important;
    height: 80vh;
    padding-right: 0;
  }
  .back h1{
    font-size: 70px;
  }
}
/* @media screen and (max-width: 968px) {
  .back{
  padding-top: 30%;
}
} */
